@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

body {
    background: black;
    color: white;
    font-family: 'Galmuri9';
    overflow: hidden;
    text-align: center;
}

#credit {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 60px;
}

#btns {
    margin-bottom: 50px;
}

#btns button {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    margin: 0 10px;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;

}

#credit-wrap {
    position: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 30px;
    width: max-content;
    animation: scrollLeft 80s linear infinite;
}

@keyframes scrollLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.face {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.name {
    margin-top: 8px;
}