@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

body {
    user-select: none;
    background-color: rgb(232, 232, 232);
    font-family: 'Galmuri9';
    height: auto;
}

#c {
    text-align: center;
}

#title {
    font-size: 50px;
    font-weight: 200;
}

#game {
    text-align: center;
    font-size: larger;
}

button {
    font-family: 'Galmuri9';
    font-size: medium;
    color: black;

}

#d {
    color: rgb(80, 80, 80);
    position: relative;
    width: 100%;
    height: 1000px;
    ;
}

input {
    font-family: 'Galmuri9';
    font-size: medium;
}

#name {
    width: 100px;
}

#dd {
    border-radius: 30%;

}

#choices {
    position: absolute;
    top: 50%;
    left: 30%;
    align-items: center;
}

#last {
    width: 100%;
    height: 40px;
    bottom: 1px;
    position: absolute;
    color: rgb(80, 80, 80);


}