body {
    user-select: none;
    background-color: rgb(232, 232, 232);
}

#c {
    text-align: center;
}

#title {
    font-size: 60px;
    font-weight: 200;
}

#game {
    text-align: center;
    font-size: medium;
    font-size: larger;
}